

.button {

    &__circle {
        background: $c-brown;
        width: 35px;
        height: 35px;
        border-radius: 5em;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease-in-out;

        &:hover {
            opacity: 0.7;
        }
    }


    &__rectangle {
        width: 160px;
        height: 40px;
        background: $c-brown;
        border-radius: 4px;
        border: none;
        color: $c-white;
        transition: all .3s ease-in-out;

        &:hover {
            opacity: 0.7;
        }
    }

}