/*Created by web-developer: DSmel.ru*/

//Fonts
$f-lora: 'Lora', serif;
$f-openSans: 'Open Sans', sans-serif;

//Color
$c-blue: #1B86D5;  
$c-white: #fff;
$c-black: #000;
$c-brown: #8F5541;


@import 'blocks/responsive';
@import 'blocks/fonts';
@import 'blocks/button';
@import 'blocks/m-p-grid';
@import 'blocks/link';
@import 'blocks/desc';
@import 'blocks/title';
@import 'blocks/card';
@import 'blocks/header';
@import 'blocks/section-cake';
@import 'blocks/popular-cake';
@import 'blocks/instagram';
@import 'blocks/breadcrumbs-line';
@import 'blocks/filter-sidebar-catalog';
@import 'blocks/global-form';



@import 'blocks/footer';

// font-family: 'Lora', serif;
// font-family: 'Open Sans', sans-serif;

.opac__07 {
    opacity: 0.7;
}

.opac__05 {
    opacity: 0.5;
}

.opac__03 {
    opacity: 0.3;
}

body {
    background: $c-white;
    margin: 0;
    // height: 9000px;
}

::selection {
    color: $c-white;
    background: $c-blue;
}



